.sidebar_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #444;
    transition: all 0.7 ease;
}



.shrink {
    width: 100%;
    height: 100%;
    padding-top: 20%;
    display: flex;
    flex-direction: column;
    background: #444;
    transition: all 0.7;
    gap: var(--gap2);
}

.shrink * {
    padding: 5% 0;
    text-align: center;
    justify-content: center;
    font-size: var(--fs3);
}

.shrink a>p {
    display: none;
}

.shrink>:first-child {
    border-bottom: none;
}

.shrink .shrink_box {
    border-top: 1px solid #fffff979;
    border-bottom: 1px solid #fffff979;
    justify-content: center;
}

.sidebar_container>a,
.shrink>a {
    font-size: var(--fs3);
    color: #fff;
    border-bottom: 1px solid #ccc;
    padding: var(--pd1);
}

.shrink>a {
    padding: 0;
}

.shrink_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--pd1);
    border-bottom: 1px solid #fffff979;
}

.shrink_box>button {
    padding-top: 5%;
    background: none;
    border: none;
    font-size: var(--fs4);
    color: #fff;
}

.shrink_box .shrink_box>h3 {
    display: none;
}

.menu_box {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.shrink_box>h3 {
    font-size: var(--fs4);
    font-weight: 500;
    padding: var(--pd2);
    color: #fff;
}

.menu_box>a {
    position: relative;
    width: 100%;
    padding: var(--pd2);
    display: flex;
    align-items: center;
    font-size: var(--fs5);
    gap: var(--gap3);
    color: #fff;
    z-index: 99;
    text-align: center;
}

.menu_box>a>span {
    font-size: var(--fs4);
}

.menu_box>a::after,
.shrink>div::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #17b2ea63;
    z-index: -9;
    border-radius: 0 10px 10px 0;
    transition: all 0.5s;
}

.menu_box>a:focus {
    color: #17b1ea;
    font-weight: 500;
    border: 1px solid #17b1ea;
    border-radius: 0 10px 10px 0;
    border-left: none;
}

.menu_box>a:focus::after {
    display: none;
}


.menu_box>a:hover::after,
.menu_box>a:focus::after {
    width: 100%;
    transition: all 0.4s;
}