:root {
    --fs1: 48px;
    --fs2: 40px;
    --fs3: 32px;
    --fs4: 24px;
    --fs5: 20px;
    --fs6: 16px;
    --fs7: 14px;
    --fs8: 13px;
    --fs9: 18px;
    --pd1: 5% 7%;
    --pd2: 3.5% 5%;
    --pd3: 3%;
    --pd4: 4% 4% 5% 5%;
    --pd5: 1.3% 3%;
    --gap1: 30px;
    --gap2: 20px;
    --gap3: 15px;
    --gap4: 40px;
}